source https://nuget.org/api/v2

nuget FSharp.Core >= 4.0
nuget FSharp.Quotations.Evaluator >= 1.0

group Build
  source https://nuget.org/api/v2
  nuget SourceLink.Fake
  nuget FAKE
  nuget FSharp.Formatting

  github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://nuget.org/api/v2
    nuget NUnit >= 3.5
    nuget NUnit.ConsoleRunner >= 3.5
    nuget FsCheck >= 2.5
